@model KütüphaneOtomasyonu.Models.Member

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    <h2 class="text-center">Create a New Member</h2>
                </div>
                <div class="card-body">
                    <form asp-action="Create">
                        <div class="form-group">
                            <label asp-for="Name" class="form-label"></label>
                            <input asp-for="Name" class="form-control">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Surname" class="form-label"></label>
                            <input asp-for="Surname" class="form-control">
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="phoneNumber" class="form-label"></label>
                            <input asp-for="phoneNumber" class="form-control">
                            <span asp-validation-for="phoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PasswordMember" class="form-label"></label>
                            <input asp-for="PasswordMember" class="form-control">
                            <span asp-validation-for="PasswordMember" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserName" class="form-label"></label>
                            <input asp-for="UserName" class="form-control">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Create Member</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>