@{
    Layout = "_Layout";
}

<!-- Book özel içeriği buraya ekleyin -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Book Layout</h2>
        </div>
    </div>

    <!-- RenderBody fonksiyonunu burada çağırın -->
    @RenderBody()
</div>
